html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.btn-default {
  background-color: #c9e2c1;
  color: black; }

header {
  background-color: lightcyan;
  min-height: 6.5em; }
  header #logo {
    vertical-align: center; }
    header #logo h1 {
      margin: 0.5em;
      font-weight: bold;
      color: black; }
  header #headerContent {
    display: flex;
    justify-content: flex-end;
    text-align: center; }
    header #headerContent input, header #headerContent button, header #headerContent a {
      margin: 0.2em; }
    header #headerContent button, header #headerContent a {
      background-color: #c9e2c1;
      color: black; }

aside {
  background-color: #ebf6ff;
  border-right: thin solid #d4e4f3; }
  aside li:hover, aside a {
    background-color: #e9eefb;
    color: black; }

aside.col-2 {
  padding: 0; }

main {
  flex-grow: 1; }
  main #storyDiv {
    background-color: whitesmoke; }
    main #storyDiv li {
      width: inherit; }
    main #storyDiv li:hover, main #storyDiv a {
      background-color: #e9eefb;
      color: black; }
    main #storyDiv .storyList {
      margin-top: 1em; }

#registerDiv {
  border: solid thin black;
  align-self: center;
  width: 60%;
  min-width: 20em;
  max-width: 40em; }
  #registerDiv h1 {
    margin: 0.5em 0 0 0; }
  #registerDiv form {
    padding: 2em; }
    #registerDiv form input {
      border-left: none;
      border-top: none;
      border-right: none; }

/*# sourceMappingURL=style.css.map */
