$headerColor: lightcyan;
$asideColor: #ebf6ff;
$storyDivColor: whitesmoke;
$buttonColor: #c9e2c1;

$font-size-h1: 2em;

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-default{

    background-color: $buttonColor;
    color:black;

}

header {

  background-color:$headerColor;
  min-height: 6.5em;

  #logo{

    vertical-align:center;

    h1{

      margin:0.5em;
      font-weight: bold;
      color: black;

    }

  }

  #headerContent{

    display: flex;
    justify-content: flex-end;
    text-align: center;

    input,button,a{

      margin: 0.2em;

    }

    button,a{

      background-color: $buttonColor;
      color:black;

    }

  }

}

aside{

  background-color: $asideColor;

  border-right: thin solid #d4e4f3;

  li:hover ,a{
    background-color: #e9eefb;
    color: black;
  }

}

aside.col-2{

  padding: 0;

}

main{

  flex-grow: 1;

  #storyDiv{

    background-color: $storyDivColor;

    li {
      width:inherit;
    }

    li:hover ,a{
      background-color: #e9eefb;
      color: black;
    }

    .storyList{

      margin-top: 1em;

    }

  }

}

#registerDiv {
  border: solid thin black;
  align-self: center;
  width: 60%;
  min-width: 20em;
  max-width:40em;

  h1 {
    margin: 0.5em 0 0 0;
  }

  form {

    padding: 2em;

    input {
      border-left: none;
      border-top: none;
      border-right: none;
    }
  }
}

.badge {

}

