<header class="row">

    <div id="logo" class="col-2">
        <a href="./../" class="btn" role="button"><h1>Chain Stories</h1></a>
    </div>

        <div id="headerContent" class="col-10">

            <form class="form-inline" action="/user/login" method="post">

                <input type="email" id="loginEmail" name="loginEmail" class="form-control" placeholder="email" required>
                <input type="password" id="loginPassword" name="loginPassword" class="form-control" placeholder="password" required>

                <input type="submit" class="btn btn-default" value="SignIn">

                <a href="/user/register" class="btn btn-default" role="button">SignUp</a>

            </form>

        </div>

</header>